<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render( "~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head",false)
    <link href="~/Content/Site.css" rel="stylesheet" />
    @{ 
        var currentUser = Session["currentUser"] as EasyBB.User;
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EasyBBS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (currentUser == null)
                    {
                        <li><a href="/user/login">登陆</a></li>
                        <li><a href="/user/register">注册</a></li>
                    }
                    else
                    {

                        <li><a>@currentUser.name</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">会员中心 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">我的帖子</a></li>
                                <li><a href="#">我的收藏</a></li>
                            </ul>
                        </li>
                    }

                </ul>



            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 黄桂茹
            <a href="/admin/login">管理后台</a>
            </p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
